name: Unit-Test-CI

on:
  push:
    branches: [ master, staging, development ]
  pull_request:
    branches: [ master, staging, development ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      checks: write
    steps:
        - uses: actions/checkout@v3
        - name: Install dependencies
          run: npm install
        - name: Coverage Utils JS
          uses: ArtiomTr/jest-coverage-report-action@v2
          id: coverage-utils-js
          with:
            output: comment, report-markdown
            test-script: npm test
            coverage-file: ./reports/report.json
        - name: Sticky Pull Request Comment
          uses: marocchino/sticky-pull-request-comment@v2
          if: steps.coverage-utils-js.outputs.report != ''
          with:
              header: Contentstack Utils JS Coverage
              recreate: true
              message: ${{ steps.coverage-utils-js.outputs.report }}
        - name: Test Report
          uses: dorny/test-reporter@v1
          if: success() || failure()
          with:
            name: JEST Tests
            path: reports/junit/jest-*.xml
            reporter: jest-junit
            fail-on-error: true
